<a href="https://colab.research.google.com/github/Suryansh1089/GroupProject/blob/main/SarcasmDetectionBaseline2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [38]:
twitter_train=pd.read_json('twitter_train.jsonl',lines=True)

In [39]:
twitter_train.head()

     label  ...                                            context
0  SARCASM  ...  [A minor child deserves privacy and should be ...
1  SARCASM  ...  [@USER @USER Why is he a loser ? He's just a P...
2  SARCASM  ...  [Donald J . Trump is guilty as charged . The e...
3  SARCASM  ...  [Jamie Raskin tanked Doug Collins . Collins lo...
4  SARCASM  ...  [Man ... y ’ all gone “ both sides ” the apoca...

[5 rows x 3 columns]

In [79]:
twitter_train['response']=twitter_train['response'].str.replace('@USER', "") 
twitter_train['response']=twitter_train['response'].str.replace('\d+', '')
twitter_train['response']=twitter_train['response'].str.lower()
twitter_train['response']=twitter_train['response'].str.replace('[^\w\s]','')

In [80]:
twitter_train.head()

     label  ...                                            context
0  SARCASM  ...  a minor child deserves privacy and should be k...
1  SARCASM  ...    why is he a loser  hes just a press secretar...
2  SARCASM  ...  donald j  trump is guilty as charged  the evid...
3  SARCASM  ...  jamie raskin tanked doug collins  collins look...
4  SARCASM  ...  man  y  all gone  both sides  the apocalypse o...

[5 rows x 3 columns]

In [81]:
twitter_train['context']=twitter_train['context'].apply(lambda x: ','.join(map(str, x)))
twitter_train['context']=twitter_train['context'].str.replace('@USER', "") 
twitter_train['context']=twitter_train['context'].str.lower()
twitter_train['context']=twitter_train['context'].str.replace('[^\w\s]','')
twitter_train['context']=twitter_train['context'].str.replace('\d+', '')

In [82]:
twitter_train.head()

     label  ...                                            context
0  SARCASM  ...  a minor child deserves privacy and should be k...
1  SARCASM  ...    why is he a loser  hes just a press secretar...
2  SARCASM  ...  donald j  trump is guilty as charged  the evid...
3  SARCASM  ...  jamie raskin tanked doug collins  collins look...
4  SARCASM  ...  man  y  all gone  both sides  the apocalypse o...

[5 rows x 3 columns]

In [83]:
twitter_train.tail()

            label  ...                                            context
4995  NOT_SARCASM  ...   apologies for the inconvenience you faced wit...
4996  NOT_SARCASM  ...    idk tho  i think i  m hungry  but that  s de...
4997  NOT_SARCASM  ...     peace to you  and two countries certainly s...
4998  NOT_SARCASM  ...  bernie sanders told elizabeth warren in privat...
4999  NOT_SARCASM  ...  pdp protest brainstorming session deji  we nee...

[5 rows x 3 columns]

In [84]:
from collections import Counter

In [85]:
Counter(twitter_train['label'])

Counter({'NOT_SARCASM': 2500, 'SARCASM': 2500})

In [86]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [87]:
train_label=le.fit_transform(twitter_train['label'])

In [88]:
twitter_train.head()

     label  ...                                            context
0  SARCASM  ...  a minor child deserves privacy and should be k...
1  SARCASM  ...    why is he a loser  hes just a press secretar...
2  SARCASM  ...  donald j  trump is guilty as charged  the evid...
3  SARCASM  ...  jamie raskin tanked doug collins  collins look...
4  SARCASM  ...  man  y  all gone  both sides  the apocalypse o...

[5 rows x 3 columns]

In [89]:
twitter_train.tail()

            label  ...                                            context
4995  NOT_SARCASM  ...   apologies for the inconvenience you faced wit...
4996  NOT_SARCASM  ...    idk tho  i think i  m hungry  but that  s de...
4997  NOT_SARCASM  ...     peace to you  and two countries certainly s...
4998  NOT_SARCASM  ...  bernie sanders told elizabeth warren in privat...
4999  NOT_SARCASM  ...  pdp protest brainstorming session deji  we nee...

[5 rows x 3 columns]

Training model

In [100]:
sentences = []
labels = []
cont=[]

sentences.append(twitter_train['response'])
cont.append(twitter_train['context'])
labels.append(twitter_train['label'])

In [101]:
sentences

[0          i dont get this  obviously you do care or y...
 1         trying to protest about  talking about him a...
 2          he makes an insane about of money from the ...
 3         meanwhile trump wont even release his sat sc...
 4         pretty sure the antilincoln crowd claimed th...
                               ...
 4995     you dont  i have purchased a lot on amazon  c...
 4996     emotions you say  never knew that i think i  ...
 4997       you are so right   yes  silence is not priv...
 4998       another lazy delusional voter who takes the...
 4999      i hope you know no news outlet from nigeria ...
 Name: response, Length: 5000, dtype: object]

In [106]:
# Run this to ensure TensorFlow 2.x is used
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=10000, oov_token="<OOV>")
tokenizer.fit_on_texts(sentences)
tokenizer.fit_on_texts(cont)

word_index = tokenizer.word_index

training_sequences = tokenizer.texts_to_sequences(sentences)
training_padded = pad_sequences(training_sequences, maxlen=100, padding='post', truncating='post')
train_cont_sequences=tokenizer.texts_to_sequences(cont)
train_cont_padded=pad_sequences(train_cont_sequences,100,padding='post',truncating='post')

AttributeError: ignored

In [ ]:
import numpy as np
training_padded = np.array(training_padded)
labels = np.array(labels)
train_cont_padded=np.array(train_cont_padded)

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size=10000, embedding_dim, input_length=100),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.summary()

TEST

In [ ]:
twitter_test=pd.read_json('twitter_test.jsonl',lines=True)
twitter_test.head()

                                             context  ...         id
0  [Well now that ’ s problematic AF <URL>, @USER...  ...  twitter_1
1  [Last week the Fake News said that a section o...  ...  twitter_2
2  [@USER Let ’ s Aplaud Brett When he deserves i...  ...  twitter_3
3  [Women generally hate this president . What's ...  ...  twitter_4
4  [Dear media Remoaners , you excitedly sharing ...  ...  twitter_5

[5 rows x 3 columns]

In [ ]:
twitter_test['response']=twitter_test['response'].str.replace('@USER', "") 
twitter_test['response']=twitter_test['response'].str.replace('\d+', '')
twitter_test['response']=twitter_test['response'].str.lower()
twitter_test['response']=twitter_test['response'].str.replace('[^\w\s]','')
twitter_test['context']=twitter_test['context'].apply(lambda x: ','.join(map(str, x)))
twitter_test['context']=twitter_test['context'].str.replace('@USER', "") 
twitter_test['context']=twitter_test['context'].str.lower()
twitter_test['context']=twitter_test['context'].str.replace('[^\w\s]','')
twitter_test['context']=twitter_test['context'].str.replace('\d+', '')

In [ ]:
twitter_test.head()

                                             context  ...         id
0  well now that  s problematic af url  my  year ...  ...  twitter_1
1  last week the fake news said that a section of...  ...  twitter_2
2   let  s aplaud brett when he deserves it he co...  ...  twitter_3
3  women generally hate this president  whats up ...  ...  twitter_4
4  dear media remoaners  you excitedly sharing cl...  ...  twitter_5

[5 rows x 3 columns]

In [ ]:
twitter_test.tail()

                                                context  ...            id
1795  i have been a business customer of mweb  for  ...  ...  twitter_1796
1796  a woman refuses to have her temperature taken ...  ...  twitter_1797
1797  the reason big government wants  out is becaus...  ...  twitter_1798
1798  happy musicmonday and thanks for all your     ...  ...  twitter_1799
1799  not long wrapped on the amazing januarynd writ...  ...  twitter_1800

[5 rows x 3 columns]

In [ ]:
test_sentences=[]
test_cont=[]
test_labels=[]
test_sentences.append(twitter_test['response'])
test_cont.append(twitter_test['context'])
test_labels.append(twitter_test['label'])

In [ ]:
testing_sequences = tokenizer.texts_to_sequences(test_sentences)
testing_padded = pad_sequences(testing_sequences, maxlen=100, padding='post', truncating='post')
testing_padded = np.array(testing_padded)
test_labels = np.array(test_labels)